body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Unna",
    serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text {
  font-family: "Unna";
  font-weight: 900;
  margin-right: 50px;
}

.seperator {
  background-color: black;
  width: 250px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
