#wrapper {
  justify-content: center;
  grid-template-columns: repeat(2, 430px);
  grid-template-rows: 750px 500px min-content min-content;
}

#aboutWrapper {
  grid-template-rows: 100px 50px 1fr;
}

#name {
  margin-top: 100px;
}

#first {
  font-size: 187px;
}

#last {
  font-size: 110px;
}

#aboutSection {
  grid-column: 1/3;
}

body,
html {
  margin: 0;
  padding: 0;
}

#latestArticle {
  grid-template-rows: 1fr 140px 1fr;
}

@media screen and (max-width: 1061px) {
  #aboutSection {
    grid-column: 1/2;
  }

  #wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 430px));
    grid-template-rows: 600px 600px 800px min-content min-content min-content;
  }
}

@media screen and (max-width: 420px) {
  #wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
    grid-template-rows: 330px 480px 800px min-content min-content min-content;
  }
  #last {
    font-size: 80px;
  }
  #first {
    font-size: 167px;
  }
  #name {
    margin-top: 0px;
  }
  #latestArticle {
    grid-template-rows: 1fr 50px 1fr;
  }
  #aboutWrapper {
    grid-template-rows: 100px 40px 1fr;
  }
}

#flyoutMenu {
  width: 400px;
  height: 100vh;
  background-color: #ffe600;
  top: 0;
  right: 2;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 500;
}

#flyoutMenu.hide {
  transform: translate3d(120vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
}
