#wrapper {
  justify-content: center;
  grid-template-columns: repeat(2, 430px);
  grid-template-rows: 650px 500px 400px 500px;
}

#aboutSection {
  grid-column: 1/3;
}

@media screen and (max-width: 1061px) {
  #aboutSection {
    grid-column: 1/2;
  }
  #wrapper {
    grid-template-columns: repeat(auto-fit, 430px);
    grid-template-rows: 600px 600px 700px 400px 400px 400px;
  }
}

@media screen and (max-width: 420px) {
  #wrapper {
    justify-content: stretch;
  }
}
